/* general */

body {
    width: 800px; 
    margin: 0 auto;
    background-color: #6a5acd;
    font-family: Verdana, Tahoma, sans-serif;
}

/* block styling */

div {
    border: 5px solid black;
    display: flex;
    background-color: #f0f0f0;

}

footer {
    text-align: center;
    margin: 30px;
}

span.foot {
    padding: 3px;
    background-color: #f0f0f0;
    border-style: dashed;
}

/* Typography */

h1 {
    /* text styling */
        text-align: center;

    /* border style*/
    padding: 25px;
    border-style: outset;
    border-color: blanchedalmond;
 
    /* background image */
    padding: 50px;
    background-image: url(Images/phone_globe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

span.head {
    background: white;
    padding: 2px;
   
}

 /* Styling products display */

 main {
    display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
}

 img {
    width: 200px;
    height: 200px;
}


